In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

In [2]:
df_train= pd.read_csv("Train.csv")
df_test= pd.read_csv("Test.csv")

In [3]:
y_train=np.array(df_train['Low_Cap_Price'])
id_test=np.array(df_test['Item_Id'])
x_train=np.array(df_train.drop(['Item_Id', 'Date', 'Low_Cap_Price'], axis=1, index=None))
x_test=np.array(df_test.drop(['Item_Id', 'Date'], axis=1, index=None))

In [4]:
from sklearn.ensemble import RandomForestRegressor 

rforest = RandomForestRegressor(n_estimators = 5000, random_state = 1) 
rforest.fit(x_train,y_train)

RandomForestRegressor(n_estimators=5000, random_state=1)

In [5]:
y1_test= rforest.predict(x_test)

In [6]:
print(id_test, y1_test)

['IT_265079' 'IT_265087' 'IT_265107' ... 'IT_361699' 'IT_361719'
 'IT_361723'] [3601.0144 2269.4194 6522.3038 ... 6838.4112 5376.7964 7512.5472]

In [9]:
df3 = pd.DataFrame()
df3['Item_Id'] = id_test.tolist()
df3['Low_Cap_Price'] = y1_test.tolist()
df3.to_csv("./file1.csv", sep=',',index=True)
df4=pd.read_csv("./file1.csv")
df4

      Unnamed: 0    Item_Id  Low_Cap_Price
0              0  IT_265079      3601.0144
1              1  IT_265087      2269.4194
2              2  IT_265107      6522.3038
3              3  IT_265139      7149.9210
4              4  IT_265142      1795.1036
...          ...        ...            ...
5758        5758  IT_361691      7130.6132
5759        5759  IT_361694      6368.6554
5760        5760  IT_361699      6838.4112
5761        5761  IT_361719      5376.7964
5762        5762  IT_361723      7512.5472

[5763 rows x 3 columns]